# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
frontend/node_modules/
backend/node_modules/

# Build output
dist/
build/

# Environment variables
.env

# IDE and editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm
